.container {
    min-height: 100vh;
    background-color: blanchedalmond !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: blanchedalmond !important;
}

.question-footer{
    border-top: solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.quiz-card {
    width: 30rem;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgb(255, 245, 226);
}

.bg-success, .bg-danger {
    color: white;
}

.width-100{
    width: 100%;
}

.text-center {
    text-align: center;
}

.final-headline {
    font-size: 38px;
    margin-bottom: 32px;
}